{% for interface in data.interfaces %}
{% if "-" in interface.name %}
{% set prefix, range_str = interface.name.rsplit('/', 1) %}
{% set start, end = range_str.split("-") %}
{% for i in range(start|int, end|int + 1) %}
interface {{ prefix }}/{{ i }}
  {% if interface.type == "access" %}
  switchport mode access
  switchport access vlan {{ interface.vlan }}
  {% elif interface.type == "trunk" %}
  switchport mode trunk
  switchport trunk allowed vlan {{ interface.vlan }}
  {% endif %}
  description {{ interface.description | upper }}
  no shutdown
!
{% endfor %}
{% else %}
interface {{ interface.name }}
  {% if 'channel_group' in interface %}
  channel-group {{ interface.channel_group }} mode active
  {% endif %}
  {% if interface.type == "access" %}
  switchport mode access
  switchport access vlan {{ interface.vlan }}
  {% elif interface.type == "trunk" and 'channel_group' not in interface %}
  switchport mode trunk
  switchport trunk allowed vlan {{ interface.vlan }}
  {% endif %}
  description {{ interface.description | upper }}
  no shutdown
!
{% endif %}
{% endfor %}
{% set channel_groups = [] %}
{% for interface in data.interfaces %}
{% if 'channel_group' in interface and interface.channel_group not in channel_groups %}
{% set _ = channel_groups.append(interface.channel_group) %}
{% endif %}
{% endfor %}
{% for channel_group in channel_groups %}
interface Port-channel{{channel_group}}
  {% set channel_interface = data.interfaces|selectattr("channel_group", "equalto", channel_group)|first %}
  description {{ channel_interface.description }}
  switchport mode {{ channel_interface.type }}
  switchport trunk allowed vlan {{ channel_interface.vlan }}
  no shutdown
!
{% endfor %}